name: ZCart CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      auth: ${{ steps.filter.outputs.auth }}
      product: ${{ steps.filter.outputs.product }}
      cart: ${{ steps.filter.outputs.cart }}
      order: ${{ steps.filter.outputs.order }}
      payment: ${{ steps.filter.outputs.payment }}
      notification: ${{ steps.filter.outputs.notification }}
      seller: ${{ steps.filter.outputs.seller }}

    steps:
      - uses: actions/checkout@v4

      - name: Detect changed services
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            auth:
              - 'auth/**'
            product:
              - 'product/**'
            cart:
              - 'cart/**'
            order:
              - 'order/**'
            payment:
              - 'payment/**'
            notification:
              - 'notification/**'
            seller:
              - 'seller/**'

  build-push-deploy:
    needs: detect-changes
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Auth
      - name: Build & Push Auth
        if: needs.detect-changes.outputs.auth == 'true'
        run: |
          docker build -t kousikdev/zcart-server-images:auth-latest ./auth
          docker push kousikdev/zcart-server-images:auth-latest

      # Product
      - name: Build & Push Product
        if: needs.detect-changes.outputs.product == 'true'
        run: |
          docker build -t kousikdev/zcart-server-images:product-latest ./product
          docker push kousikdev/zcart-server-images:product-latest

      # Cart
      - name: Build & Push Cart
        if: needs.detect-changes.outputs.cart == 'true'
        run: |
          docker build -t kousikdev/zcart-server-images:cart-latest ./cart
          docker push kousikdev/zcart-server-images:cart-latest

      # Order
      - name: Build & Push Order
        if: needs.detect-changes.outputs.order == 'true'
        run: |
          docker build -t kousikdev/zcart-server-images:order-latest ./order
          docker push kousikdev/zcart-server-images:order-latest

      # Payment
      - name: Build & Push Payment
        if: needs.detect-changes.outputs.payment == 'true'
        run: |
          docker build -t kousikdev/zcart-server-images:payment-latest ./payment
          docker push kousikdev/zcart-server-images:payment-latest

      # Notification
      - name: Build & Push Notification
        if: needs.detect-changes.outputs.notification == 'true'
        run: |
          docker build -t kousikdev/zcart-server-images:notification-latest ./notification
          docker push kousikdev/zcart-server-images:notification-latest

      # Seller
      - name: Build & Push Seller
        if: needs.detect-changes.outputs.seller == 'true'
        run: |
          docker build -t kousikdev/zcart-server-images:seller-latest ./seller
          docker push kousikdev/zcart-server-images:seller-latest

      # Deploy only once
      - name: Deploy to Server
        if: |
          needs.detect-changes.outputs.auth == 'true' ||
          needs.detect-changes.outputs.product == 'true' ||
          needs.detect-changes.outputs.cart == 'true' ||
          needs.detect-changes.outputs.order == 'true' ||
          needs.detect-changes.outputs.payment == 'true' ||
          needs.detect-changes.outputs.notification == 'true' ||
          needs.detect-changes.outputs.seller == 'true'
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ZCart-Ecommerce
            docker compose pull
            docker compose up -d
