name: ZCart CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push auth service
      - name: Build & Push Auth Service
        run: |
          docker build -t kousikdev/zcart-server-images:auth-1.0 ./auth-service
          docker push kousikdev/zcart-server-images:auth-1.0

      # Build and push product service
      - name: Build & Push Product Service
        run: |
          docker build -t kousikdev/zcart-server-images:product-1.0 ./product-service
          docker push kousikdev/zcart-server-images:product-1.0

      # Build and push cart service
      - name: Build & Push Cart Service
        run: |
          docker build -t kousikdev/zcart-server-images:cart-1.0 ./cart-service
          docker push kousikdev/zcart-server-images:cart-1.0

      # Build and push order service
      - name: Build & Push Order Service
        run: |
          docker build -t kousikdev/zcart-server-images:order-1.0 ./order-service
          docker push kousikdev/zcart-server-images:order-1.0

      # Build and push payment service
      - name: Build & Push Payment Service
        run: |
          docker build -t kousikdev/zcart-server-images:payment-1.0 ./payment-service
          docker push kousikdev/zcart-server-images:payment-1.0

      # Build and push notification service
      - name: Build & Push Notification Service
        run: |
          docker build -t kousikdev/zcart-server-images:notification-1.1 ./notification-service
          docker push kousikdev/zcart-server-images:notification-1.1

      # Build and push seller service
      - name: Build & Push Seller Service
        run: |
          docker build -t kousikdev/zcart-server-images:seller-1.0 ./seller-service
          docker push kousikdev/zcart-server-images:seller-1.0

      # Deploy to server via SSH
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ZCart-Ecommerce
            docker-compose pull
            docker-compose down
            docker-compose up -d
